<p style="color: green"><%= notice %></p>

<%= render @sales_line %>

<div>
  <%= link_to "Edit this sales line", edit_sales_line_path(@sales_line) %> |
  <%= link_to "Back to sales lines", sales_lines_path %>

  <%= button_to "Destroy this sales line", @sales_line, method: :delete %>
</div>
