<%= form_with(model: @order, local: true) do |form| %>
  <div>
    <%= form.label :transaction_date %>
    <%= form.date_field :transaction_date, class: 'form-control' %>
  </div>

  <% if @items.present? %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :order_lines do |order_line_form| %>
            <%= render 'order_lines/order_item_fields', f: order_line_form, items: @items %>
          <% end %>
          
          <tr id="order-line-template" class="nested-fields" style="display: none;">
            <td><%= form.collection_select :item_id, @items, :id, :name, { prompt: "Select an Item" }, { name: "order[order_lines_attributes][__INDEX__][item_id]", class: "form-control" } %></td>
            <td><%= form.number_field :quantity, name: "order[order_lines_attributes][__INDEX__][quantity]", class: "form-control" %></td>
            <td>
              <%= button_tag 'Remove', type: 'button', class: 'remove-item btn btn-danger btn-sm' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <%= link_to 'Add Order Line', '#', id: 'add-order-line', class: 'btn btn-secondary' %>
  <% else %>
    <p>No items available to add to the order.</p>
  <% end %>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
