<div id="<%= dom_id item %>">
  <p>
    <strong>\name:</strong>
    <%= item.\name %>
  </p>

  <p>
    <strong>\price:</strong>
    <%= item.\price %>
  </p>

  <p>
    <strong>\tax rate:</strong>
    <%= item.\tax_rate %>
  </p>

  <p>
    <strong>\description:</strong>
    <%= item.\description %>
  </p>

  <p>
    <strong>String:</strong>
    <%= item.string %>
  </p>

</div>
