<div id="<%= dom_id order_line %>">
  <p>
    <strong>Item:</strong>
    <%= order_line.item %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_line.quantity %>
  </p>

  <p>
    <strong>Discount percentage:</strong>
    <%= order_line.discount_percentage %>
  </p>

  <p>
    <strong>Tax amount:</strong>
    <%= order_line.tax_amount %>
  </p>

  <p>
    <strong>Price after discount:</strong>
    <%= order_line.price_after_discount %>
  </p>

</div>
